.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;

	.pop-up{
		background: #F8F8F8;
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
		border-radius: 3px;
		font-family: 'Montserrat', sans-serif;
		padding-bottom: 50px;
		padding-top: 50px;
		padding-right: 20px;
		padding-left: 20px;
		text-align: center;
		width: 600px;
		transition: .3s ease all;
		transform: scale(0.7);

		.logo-principal{
  			 width: 25%;
			 height: 25%;
		}

		.parrafo{
			font-size: x-large
			
		}
		.sign-in-and-sign-up{
			margin-bottom: 20px;
			margin-left: 20px;
			margin-right: 20px;
			text-align: left;
		}
		.button-google{
			margin: 20px;
		}
	}
}

